name: Release

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  pio-release:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SKDK_OTA_PRO_PRIVKEY }}
    
    - name: Set env vars
      run: |
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo "BUILD_TIMESTAMP=$(date -u +'%s')" >> $GITHUB_ENV
        echo "COMMIT_HASH=$(git rev-parse HEAD)" >> $GITHUB_ENV

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

    - name: Set up Python
      uses: actions/setup-python@v2

    - name: Install PlatformIO
      id: pio_install
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio

    - name: Build Firmware (seedlabs_devkit)
      # Run regardless of other build step failures, as long as setup steps completed
      if: always() && steps.pio_install.outcome == 'success'
      run: |
        pio run \
          -e seedlabs_devkit_github_action_release
    - name: Zip Firmware
      run: |
        cd .pio/build/seedlabs_devkit_github_action_release/
        cp ./firmware.bin "${RELEASE_VERSION}.bin"
        cp ~/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/bin/bootloader_dio_80m.elf .pio/build/seedlabs_devkit_github_action_release/bootloader_dio_80m.elf
        zip -r "${RELEASE_VERSION}.zip" ./ ~/.pio/build/seedlabs_devkit_github_action_release/bootloader_dio_80m.elf
    
    - name: Upload Release Assets
      uses: AButler/upload-release-assets@v3.0
      with:
        files: ".pio/build/seedlabs_devkit_github_action_release/${RELEASE_VERSION}.bin;.pio/build/seedlabs_devkit_github_action_release/${RELEASE_VERSION}.zip"
        repo-token: ${{ secrets.GITHUB_TOKEN }}
